.add-prescription {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(181, 181, 181);
    width: 50%;
    margin: 10px auto;
    padding: 50px 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
}
.add-prescription-input{
    width: 100%;
}
.error{
    color: red;
}
#add-prescription-btn{
    margin-top: 5px;
    grid-area: 8/1/9/2;
    background-color: #61C0BF;
    color: white;
}
#add-prescription-btn:hover{
    box-shadow: 0 0 3px #61C0BF;
    font-weight: 600;
}
.add-dropzone{
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    grid-area: 7/2/8/3;
}
.close-prescription-div {
    margin-top: 5px;
    grid-area: 8/2/9/3;
}

.prescription-card{
    box-shadow: 0 0 3px rgb(173, 173, 173);
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #F7F7F7;
}
#image{
    text-align: center;
}
.prescription-card img{
    width: 80%;
    height: 80%;
}
.toggle-btn{
    cursor: pointer;
}