header {
    background-color: #b7eae1;
    margin: auto;
    padding: 20px 93px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    margin: 0;
    display: inline-block;
}

.head-link {
    text-decoration: none;
    color: #000000;
}

.navbar{
    display: inline-block;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
}

.nav-items {
    margin: 10px 20px;
    font-size: 1.15rem;
}

.nav-links{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.nav-links:hover {
    text-decoration: underline;
}
