.about-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 0 103px;
    /* position: relative; */
}

.about-page-img{
    background-image: url("../../../public/images/Landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

.about-details{
    position: relative;
    width: 100%;
}

.about-overview{    
    text-align: center;
    max-width: 900px;
    margin: 6rem auto 100px;
}

.about-overview h2{
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: 500;
}

.about-overview p{
    font-size: 18px;
    line-height: 28px;
}

.about-features{
    text-align: left;
    margin: auto;
    max-width: 900px;
    margin-bottom: 6rem;
}

.about-features h2{
    font-size: 2.2rem;
    line-height: 40px;
    font-weight: 500;
}

.about-feature{
    margin-bottom: 40px;
}

.about-feature h4{
    font-weight: 500;
    margin: 10px auto;
    line-height: 15px;
    font-size: 1.4rem;
}

.about-feature ol li{
    font-size: 1.1rem;
    line-height: 30px;
}

.about-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 93px 50px;
}

.about-card{
    height: fit-content;
    min-width: 280px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-img{
    height: 100%;
    margin-bottom: 10px;
}

.about-img img{
    width: 100%;
    height: 100%;
}

.about-name, .about-position, .about-institute{
    padding-left: 15px;
}

.about-name{
    font-weight: 700;
    font-size: 1.35rem;
}

.about-position, .about-institute{
    font-weight: 500;
}

.about-links{
    background-color: black;
    text-align: center;
    padding: 4px 0;
    margin: 0;
}

.about-links a{
    text-decoration: none;
    color: white;
}